*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

/* Style the main container */
main.container{
  border: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  width: 320px;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 20px;
}
/* Style the internal elements in the main container */
/* Style the img elements */
.container>img{
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}
/* Style the wrapper element of the text content */
.container .description{
  padding: 6px;
}
/* Style the heading element */
.description h2{
  font-size: 22px;
}
/* Style the paragraph element */
.description p{
  color: hsl(220, 15%, 55%);
}

